/* stylelint-disable */

@font-face {
	font-family: 'Calibri';
	src: url("../fonts/Calibri/Calibri-Regular.woff2") format("woff2"),
		url("../fonts/Calibri/Calibri-Regular.woff") format("woff");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Calibri';
	src: url("../fonts/Calibri/Calibri-Bold.woff2") format("woff2"),
		url("../fonts/Calibri/Calibri-Bold.woff") format("woff");
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: 'Calibri';
	src: url("../fonts/Calibri/Calibri-BoldItalic.woff2") format("woff2"),
		url("../fonts/Calibri/Calibri-BoldItalic.woff") format("woff");
	font-style: italic;
	font-weight: 700;
}

@font-face {
	font-family: 'Audiowide';
	src: url("../fonts/Audiowide/Audiowide-Regular.woff") format("woff");
	font-style: italic;
	font-weight: 700;
}
