
.section {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #fff;
    background-repeat: no-repeat;

    &_face {
        position: relative;
        padding-bottom: 130px;
        background-image: url("../media/section/face.jpg");
        background-position: center top;
        background-size: cover;

        &::after {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            height: 70px;
            width: 100%;
            background: rgb(114,97,211);
            background: linear-gradient(90deg, rgba(114,97,211,1) 0%, rgba(44,33,131,1) 100%);
            content: '';
        }
    }

    &_block2 {
        position: relative;
        padding-bottom: 130px;
        background-image: url("../media/section/block2.jpg");
        background-position: center;
        background-size: cover;

        &::after {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            height: 70px;
            width: 100%;
            background: rgb(114,97,211);
            background: linear-gradient(90deg, rgba(114,97,211,1) 0%, rgba(44,33,131,1) 100%);
            content: '';
        }
    }

    &_block3 {
        position: relative;
        padding-bottom: 660px;
        background-color: #000;
        background-image: url("../media/section/block3.jpg");
        background-position: center bottom;

        &::after {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            height: 70px;
            width: 100%;
            background: rgb(114,97,211);
            background: linear-gradient(90deg, rgba(114,97,211,1) 0%, rgba(44,33,131,1) 100%);
            content: '';
        }
    }

    &_block4 {
        position: relative;
        padding-bottom: 130px;
        background-color: #000;
        background-image: url("../media/section/block4.jpg");
        background-position: center bottom;

        &::after {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            height: 70px;
            width: 100%;
            background: rgb(114,97,211);
            background: linear-gradient(90deg, rgba(114,97,211,1) 0%, rgba(44,33,131,1) 100%);
            content: '';
        }
    }

    &_block5 {
        position: relative;
        padding-bottom: 130px;
        background-color: #000;
        background-image: url("../media/section/block5.jpg");
        background-position: center bottom;

        &::after {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            height: 70px;
            width: 100%;
            background: rgb(114,97,211);
            background: linear-gradient(90deg, rgba(114,97,211,1) 0%, rgba(44,33,131,1) 100%);
            content: '';
        }
    }

    &_block6 {
        position: relative;
        padding-bottom: 130px;
        background-color: #000;
        background-image: url("../media/section/block6.jpg");
        background-position: center top;

        &::after {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            height: 70px;
            width: 100%;
            background: rgb(114,97,211);
            background: linear-gradient(90deg, rgba(114,97,211,1) 0%, rgba(44,33,131,1) 100%);
            content: '';
        }
    }

    &_block7 {
        position: relative;
        padding-bottom: 130px;
        background-color: #000;
        background-image: url("../media/section/block7.jpg");
        background-position: center top;
        background-size: cover;

        &::after {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            height: 70px;
            width: 100%;
            background: rgb(114,97,211);
            background: linear-gradient(90deg, rgba(114,97,211,1) 0%, rgba(44,33,131,1) 100%);
            content: '';
        }
    }

    &_block8 {
        position: relative;
        padding-bottom: 130px;
        background-color: #000;
        background-image: url("../media/section/block8.jpg");
        background-position: center top;
        background-size: cover;

        &::after {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            height: 70px;
            width: 100%;
            background: rgb(114,97,211);
            background: linear-gradient(90deg, rgba(114,97,211,1) 0%, rgba(44,33,131,1) 100%);
            content: '';
        }
    }
}

@media (max-width: 1280px) {
    .section {
        &_block5 {
            background-size: contain;
            background-image: url("../media/section/block5-1280.jpg");
        }
    }
}

@media (max-width: 768px) {
    .section {
        padding-top: 30px;
        padding-bottom: 30px;

        &_face {
            padding-bottom: 100px;
        }

        &_block2 {
            padding-bottom: 100px;
        }

        &_block3 {
            padding-bottom: 300px;
            background-size: 100% auto;
            background-position: center calc(100% - 80px);
        }

        &_block4 {
            padding-bottom: 100px;
        }

        &_block5 {
            padding-bottom: 100px;
        }

        &_block6 {
            background-image: url("../media/section/block6-768.jpg");
            padding-bottom: 100px;
        }

        &_block7 {
            padding-bottom: 100px;
        }

        &_block8 {
            padding-bottom: 100px;
        }
    }
}

@media (max-width: 480px) {
    .section {
        &_face {
            padding-bottom: 60px;

            &::before {
                height: 30px;
            }

            &::after {
                height: 30px;
            }
        }

        &_block2 {
            padding-bottom: 60px;

            &::after {
                height: 30px;
            }
        }

        &_block3 {
            padding-bottom: 60px;

            &::after {
                height: 30px;
            }
        }

        &_block4 {
            display: none;
            padding-bottom: 60px;

            &::after {
                height: 30px;
            }
        }

        &_block5 {
            padding-bottom: 60px;

            &::after {
                height: 30px;
            }
        }

        &_block6 {
            padding-bottom: 60px;

            &::after {
                height: 30px;
            }
        }

        &_block7 {
            padding-bottom: 60px;

            &::after {
                height: 30px;
            }
        }

        &_block8 {
            display: none;
            padding-bottom: 60px;

            &::after {
                height: 30px;
            }
        }

        &_block3 {
            padding-bottom: 350px;
            background-image: none;
            padding-bottom: 60px;
        }
    }
}
