<section class="section section_block8">
    <div class="container">
        <div class="block8">
            <div class="block8__title">КАК УПОТРЕБЛЯТЬ Adicciól?</div>
            <div class="block8__body">
                <div class="block8__item">НАЛИТЬ 20 КАПЕЛЬ В 50 МЛ ВОДЫ</div>
                <div class="block8__item">1-2 РАЗА В ДЕНЬ</div>
                <div class="block8__item">БЫТЬ НАСТОЙЧИВЫМ И НЕ ПРОПУСКАТЬ ВРЕМЯ ПРИЁМА</div>
            </div>
        </div>
    </div>
</section>