<section class="section section_block4">
    <div class="container">
        <div class="block4">
            <div class="block4__title">Как бороться с наркотической зависимостью?</div>
            <div class="block4__description">Наркомания – это, в первую очередь, психологическая проблема. Для ее решения необходимо вырабатывать новые поведенческие реакции. Люди с зависимостью не в состоянии справиться с этим самостоятельно - у них отсутствует сила воли. К счастью, современная медицина не стоит на месте, и им в помощь  ученые создали уникальное средство.</div>
            <div class="block4__subtitle"><mark>Adicciól</mark> – первый и самый важный шаг в борьбе с зависимостью</div>
            <div class="block4__list">
                <div class="block4__item">Блокирует удовольствие от наркотиков, благодаря чему помогает бороться с психической зависимостью.</div>
                <div class="block4__item">Выводит из организма продукты распада наркотических веществ, облегчая абстиненцию и устраняя физическое недомогание.</div>
                <div class="block4__item">Восстанавливает биохимию мозга, снимает раздражительность, нейтрализует агрессивность.</div>
                <div class="block4__btn btn">Ordenar ahora</div>
            </div>
        </div>
    </div>
</section>