<section class="section section_block6">
    <div class="container">
        <div class="block6">
            <div class="block6__title">Мнение эксперта</div>
            <div class="block6__description">
                <p>«Adicciól стал настоящим прорывом в области наркологии. Он работает сразу по нескольким направлениям: выводит остатки наркотических веществ из организма, способствует отвыканию от психоактивных веществ и оказывает профилактику рецидивов. В первые дни приема Adicciól у человека начинает развиваться отторжение от вредных веществ, организм очищается от отходов и токсинов. После нескольких дней приема препарата кровь насыщается кислородом, проходят головные боли и мигрень, тошнота, нарушения координации и тахикардия. После завершения курса повышается иммунитет и мозговая активность, восстанавливается работа сердца. Adicciól действительно спасает жизни. Я это вижу ежедневно на примерах своих пациентов».</p>
                <p>Игорь Кузнецов, врач-нарколог, доктор психологических наук</p>
            </div>
        </div>
    </div>
</section>