<section class="section section_block3">
    <div class="container">
        <div class="block3">
            <div class="block3__title">Что в итоге ждёт вас в будущем?</div>
            <div class="block3__list">
                <div class="block3__item">Депрессия и проблемы со здоровьем</div>
                <div class="block3__item">Потеря работы, друзей и семьи</div>
                <div class="block3__item">Агрессия, аморальное поведение</div>
                <div class="block3__item">Разложение личности</div>
            </div>
            <div class="block3__txt">Смерть</div>
        </div>
    </div>
</section>