<section class="section section_block7">
    <div class="container">
        <div class="block7">
            <div class="block7__title">ОТЗЫВЫ</div>
            <div class="block7__body owl-carousel">
                <div class="block7__item">
                    <div class="block7__media"><img src="../media/block7/img-1.jpg" alt=""></div>
                    <div class="block7__name">Ирина</div>
                    <div class="block7__description">«Мой сын связался с плохой компанией и начал вести себя странно: стал более нервным, возбудимым, перестал спать ночами, постоянно требовал денег. Мне без всяких тестов стало ясно, что он начал употреблять наркотики. Adicciól я нашла в интернете, заказала пару баночек на пробу и стала незаметно добавлять ему в воду, чай и еду, хотя ел в то время он редко. Со временем я заметила, что он стал проводить больше времени дома, его настроение стало более ровным, а самое главное – мы начали общаться, как раньше, обратились к наркологу. Все постепенно пришло в норму благодаря Adicciól».</div>
                </div>
                <div class="block7__item">
                    <div class="block7__media"><img src="../media/block7/img-2.jpg" alt=""></div>
                    <div class="block7__name">Алла</div>
                    <div class="block7__description">«Муж год не давал нашей семье спокойной жизни. Все дело было в наркотиках. Постоянное воровство, скандалы, ругань… он потерял работу и перестал обеспечивать нас с детьми. Я пыталась бороться с ним как могла, но все безрезультатно. Adicciól в дополнение к основной терапии мне посоветовал нарколог. Мол, это новое средство, которое показывает отличные результаты в лечении наркомании. Я стала втайне подливать это средство своему мужу. Положительные изменения я отметила уже через неделю: он стал более спокойным, у нас прекратились скандалы. Пока что я продолжаю терапию с Adicciól, чтобы закрепить этот результат».</div>
                </div>
                <div class="block7__item">
                    <div class="block7__media"><img src="../media/block7/img-3.jpg" alt=""></div>
                    <div class="block7__name">Виталий</div>
                    <div class="block7__description">«В семье моей сестры много лет назад произошла страшная ситуация: ее дочь – моя племянница – начала употреблять порошок. Это продолжалось не один год, сестра уже опустила руки. Племянница много раз бывала в рехабах, пыталась бросить сама, но ничего у нее не выходило – не хватало силы воли. Я узнал об Adicciól в интернете и заказал полный курс этого средства для нее. На то, чтобы бросить наркотики полностью, ушло 2 месяца. Вот уже более года моя племянница живет в чистоте благодаря Adicciól».</div>
                </div>
            </div>
        </div>
    </div>
</section>