<section class="section section_block2">
    <div class="container">
        <div class="block2">
            <div class="block2__title">Наркомания</div>
            <div class="block2__subtitle">Это болезнь, включающая в себя сразу две формы зависимости – психическую и физическую.</div>
            <div class="block2__list">
                <div class="block2__item"><mark>Психическая зависимость</mark> заключается в патологической тяге к употреблению веществ, чтобы избежать психологического дискомфорта, возникающего при прекращении употребления наркотика.</div>
                <div class="block2__item"><mark>Физическая зависимость</mark> проявляется в виде синдрома отмены – то есть, неприятных ощущений в теле, тошноты, нарушения работы пищеварительной системы, отсутствии сна, лихорадке, болезненности в мышцах и костях.</div>
            </div>
        </div>
    </div>
</section>