<section class="section section_face">
    <div class="container">
        <div class="face">
            <div class="face__logo">Adicciól</div>
            <div class="face__box">
                <div class="face__title">незаменимый помощник в борьбе с наркотической зависимостью</div>
                <div class="face__list">
                    <div>Избавляет от абстинентного синдрома</div>
                    <div>Выводит из организма токсичные вещества</div>
                    <div>Помогает побороть психическую зависимость</div>
                </div>
            </div>
            <div class="face__product">
                <img src="../media/product.png" alt="">
            </div>
            <div class="face__box">
                <%- include('form') %>
            </div>
        </div>
    </div>
</section>