
.block7__title {
    margin-bottom: 60px;
    color: #6fe9ff;
    text-transform: uppercase;
    font-size: 53px;
    text-align: center;
}

.block7__body {
    .owl-nav {
        position: absolute;
        top: 240px;
        left: 0;
        right: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;

        button {
            width: 23px;
            height: 44px;
            background-repeat: no-repeat;

            & > span {
                display: none;
            }

            &:nth-child(1) {
                background-image: url("../media/block7/left.png");
            }

            &:nth-child(2) {
                background-image: url("../media/block7/right.png");
            }
        }
    }
}

.block7__item {
    display: flex;
    flex-direction: column;
}

.block7__media {
    margin-bottom: 30px;
    border: 10px solid #6fe9ff;
    border-radius: 70px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.block7__name {
    margin-bottom: 15px;
    text-align: center;
    font-size: 24px;
    font-style: italic;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
}

.block7__description {
    font-size: 24px;
    color: #fff;
    text-align: center;
}

@media (max-width: 768px) {
    .block7__media {
        margin-right: 20px;
        margin-left: 20px;
    }

    .block7__body {
        .owl-nav {
            top: 130px;
        }
    }
}

@media (max-width: 480px) {
    .block7__description {
        font-size: 18px;
    }

    .block7__body {
        .owl-nav {
            top: 71px;
        }
    }

    .block7__title {
        margin-bottom: 15px;
    }
}