
.block7__title {
    margin-bottom: 60px;
    color: #6fe9ff;
    text-transform: uppercase;
    font-size: 53px;
    text-align: center;
}

.block7__item {
    display: flex;
    flex-direction: column;
}

.block7__media {
    margin-bottom: 30px;
    border: 10px solid #6fe9ff;
    border-radius: 70px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.block7__name {
    margin-bottom: 15px;
    text-align: center;
    font-size: 24px;
    font-style: italic;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
}

.block7__description {
    font-size: 24px;
    color: #fff;
    text-align: center;
}
