
.face {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.face__logo {
    margin-bottom: 30px;
    width: 100%;
    font-size: 96px;
    color: #6fe9ff;
    line-height: 1;
    font-family: "Audiowide", sans-serif;
    text-transform: uppercase;
}

.face__title {
    max-width: 630px;
    margin-bottom: 60px;
    font-size: 48px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 6px 6px 2px rgba(0, 0, 0, .7);
}

.face__list > div {
    max-width: 390px;
    min-height: 170px;
    padding: 15px 15px 15px 130px;
    border: 2px solid #6fe9ff;
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    text-shadow: 6px 6px 2px rgba(0, 0, 0, .7);
    background-position: 15px center;
    background-repeat: no-repeat;

    & + div {
        margin-top: 45px;
    }

    &:first-child {
        background-image: url("../media/face/item-1.png");
        background-position: 45px center;
    }

    &:nth-child(2) {
        background-image: url("../media/face/item-2.png");
        background-position: 20px center;
    }

    &:last-child {
        background-image: url("../media/face/item-3.png");
        background-position: 35px center;
    }
}

.face__product {
    position: absolute;
    left: 50%;
    bottom: -60px;
    width: 700px;
    transform: translateX(calc(-50% + 20px));
}

@media (max-width: 1280px) {
    .face__list {
        display: flex;
        flex-wrap: wrap;
        margin-left: -7.5px;
        margin-right: -7.5px;
    }

    .face__list > div {
        font-size: 24px;
        max-width: 315px;
        min-height: 0;
        padding-left: 105px;
        margin-bottom: 15px;
        margin-left: 7.5px;
        margin-right: 7.5px;

        &:first-child {
            background-size: 35px;
            background-position: 35px center;
        }

        &:nth-child(2) {
            background-size: 60px;
            background-position: 20px center;
        }

        &:last-child {
            background-size: 55px;
            background-position: 22px center;
        }

        & + div {
            margin-top: 0;
        }
    }

    .face__product {
        left: auto;
        right: 0;
        bottom: 0;
        width: 500px;
        transform: translateX(0);
    }

    .face__box {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .face__logo {
        font-size: 58px;
        margin-bottom: 15px;
    }

    .face__title {
        margin-bottom: 20px;
        font-size: 26px;
    }

    .face__list > div {
        max-width: 100%;
        padding-left: 85px;

        &:first-child {
            background-size: 23px;
            background-position: 35px center;
        }

        &:nth-child(2) {
            background-size: 40px;
            background-position: 20px center;
        }

        &:last-child {
            background-size: 35px;
            background-position: 22px center;
        }
    }

    .face__product {
        position: static;
        margin-bottom: -100px;
    }
}

@media (max-width: 480px) {
    .face__logo {
        font-size: 50px;
    }

    .face__list > div {
        font-size: 18px;
    }
}